body {
    font-family: 'Lato', sans-serif;
    color: black;
    font-weight: 400;
}
.container {
    margin-top: 2px;
    box-shadow: 0 0 25px 1px rgba(31, 73, 125, 0.3);
    border: 1px solid rgba(31, 73, 125, 0.3);
}
.header {
    height: 150px;
    background: -moz-linear-gradient(top, rgba(224, 209, 192, 1) 0%, rgba(241, 232, 225, 0) 100%);
    /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(224, 209, 192, 1)), color-stop(100%, rgba(241, 232, 225, 0)));
    /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top, rgba(224, 209, 192, 1) 0%, rgba(241, 232, 225, 0) 100%);
    /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top, rgba(224, 209, 192, 1) 0%, rgba(241, 232, 225, 0) 100%);
    /* Opera 11.10+ */

    background: -ms-linear-gradient(top, rgba(224, 209, 192, 1) 0%, rgba(241, 232, 225, 0) 100%);
    /* IE10+ */

    background: linear-gradient(to bottom, rgba(224, 209, 192, 1) 0%, rgba(241, 232, 225, 0) 100%);
    /* W3C */
}
.logo {
    padding-top: 25px;
}
h1 {
    color: rgb(20, 0, 0);
    font-size: 25px;
    font-weight: 400;
    padding-top: 25px;
    font-family: 'Lato', sans-serif;
}
h3,
h4 {
    color: rgb(20, 0, 0);
}
hr {
    height: 2px;
    background-color: rgb(20, 0, 0);
}
.link {
    color: rgb(20, 0, 0);
}
footer {
    padding-top: 10px;
    height: 40px;
    color: rgb(20, 0, 0);
    background: -moz-linear-gradient(top, rgba(224, 209, 192, 1) 0%, rgba(241, 232, 225, 0) 100%);
    /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(224, 209, 192, 1)), color-stop(100%, rgba(241, 232, 225, 0)));
    /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top, rgba(224, 209, 192, 1) 0%, rgba(241, 232, 225, 0) 100%);
    /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top, rgba(224, 209, 192, 1) 0%, rgba(241, 232, 225, 0) 100%);
    /* Opera 11.10+ */

    background: -ms-linear-gradient(top, rgba(224, 209, 192, 1) 0%, rgba(241, 232, 225, 0) 100%);
    /* IE10+ */

    background: linear-gradient(to bottom, rgba(224, 209, 192, 1) 0%, rgba(241, 232, 225, 0) 100%);
    /* W3C */
}
/* media queries */

@media screen and (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 40px;
        font-weight: 400;
    }
    .logo {
        padding-top:20px;
    }
}
@media screen and (min-width: 992px) {
    h1 {
        font-size: 60px;
        font-weight: 100;
    }
    .container {
        width: 80%;
        margin: auto;
    }
    .logo {
        padding-top: 10px;
    }
}
